:root{
/* CSS HEX */
--fundo: #5A6238ff;
--fundo: #FBFFFFff;
--bordas: #C97D34ff;
--vermelho: #BD0908ff;
--details: #482D2Eff;
--fundo-degrade: #4B5331ff;
--vermelho-degrade: #941A19ff;
}
/* SCSS HEX */
$fundo: #5A6238ff;
$fundo: #FBFFFFff;
$bordas: #C97D34ff;
$vermelho: #BD0908ff;
$details: #482D2Eff;
$fundo-degrade: #4B5331ff;
$vermelho-degrade: #941A19ff;
